<footer class="footer">
    <div class="footer-container">
        <h2 class="footer-title">솔데스크학원</h2>
        <div class="footer-info">
            <p>사업자번호: 101-86-50485 | 통신판매업신고번호: 제2009-서울종로-1141호 | 대표이사: 강재민</p>
            <p>서울특별시 종로구 종로12길 15, 2층/5층/8-10층(연지동 13-13)</p>
            <p>대표전화: 1544-0714 | 교육담당: 김정열</p>
        </div>
        <div class="footer-links">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy</a>
        </div>
        <p class="footer-info">Hosting by Imweb | Copyright©2022 솔데스크학원 ALL RIGHTS RESERVED</p>
    </div>
    <div class="footer-bottom">
        <p>© 2022 솔데스크학원</p>
    </div>
</footer>
