@charset "UTF-8";

.container-flex {
	display: flex;
	width: 100%;
}

.employee-list-container, .employee-info-container {
	width: 50%;
	padding: 10px;
	border: 1px solid #ddd;
}

.expanded {
	width: 100%;
}

.hidden {
	display: none;
}
/* 모달 */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	position: fixed;
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	max-width: 500px;
	/* 중앙 정렬을 위한 속성 추가 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 90vh; /* 화면 높이의 90%로 제한 */
	overflow-y: auto; /* 내용이 넘치면 스크롤 표시 */
}

.close {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}
/* 입력 폼 */
.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input, .form-group select {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.btn-container {
	text-align: right;
	margin-top: 20px;
}
